// Define variables for your color scheme

// For example:
$red: #FF6b6b;
$blue: #4d96ff;
$yellow: #FFf8a6;
$orange: #E67E22;
$green: #c1ffd7;
$gray: #3c3c3c;
$light-gray: #F4F4F4;
$purple: #cab8ff;
$light-blue: #b5deff;



