.cart {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
  padding: 25px;
  width: 50%;
}
.cart-img {
  height: 10rem;
  margin-right: 8px;
}

.articles {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.container-cart {
  margin: 30px 100px;
  display: flex;
  justify-content: space-between;
}

input {
  text-decoration: none;
}

.form-cart {
  background-color: white;
  
}
