.kokofinish {
  height: 283px;
  position: absolute;
  bottom: 89px;
  right: 15vw;
}

.bubble-finish {
  position: absolute;
  bottom: 295px;
  right: 10px;
}

.zoom-finish {
  width: 200px;
  height: 400px;
  display: block;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: $gray transparent transparent $gray;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 33px;
  right: auto;
  top: auto;
	bottom: -32px;
	border: 16px solid;
	border-color: white transparent transparent white;
}

@keyframes openDoor {
  0% {
    transform: perspective(800px) rotateY(0deg);
  }
  50% {
    transform: perspective(800px) rotateY(-60deg);
  }
  100% {
    transform: perspective(800px) rotateY(-100deg);
  }
}

.door.close {
animation: openDoor 2s forwards;
}

@keyframes closeDoor {
  0% {
    transform: perspective(800px) rotateY(-100deg);
  }
 /*  50% {
    transform: perspective(800px) rotateY(-50deg);
  } */
  100% {
    transform: perspective(800px) rotateY(0deg);
  }
}

.door.close {
animation: closeDoor 2s forwards;
}

@keyframes slideKoko {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-24vw);
  }
}

.kokofinish.slide {
animation: slideKoko 2s forwards;
}

@keyframes scaleKoko {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.kokofinish.scale {
animation: scaleKoko 5s forwards;
}

.kokoforscale {
  height: 283px;
  position: absolute;
  bottom: 89px;
  right: 39vw;
}

.door {
  z-index: 9999;
}
