// Specific CSS for your home-page

.home-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  gap: 40px;
  width: 100%;
 /*  grid-auto-rows: minmax(100px, auto); */
}
.container-home {
  margin-inline: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-card-btn {
  text-decoration: none!important;
}

.card-home {
  display: flex;
  flex-direction: column;
  min-width: 0;
  border: solid 1px black;
  background-color: white;
}

.text-card-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
    h1 {
      font-size: 33px!important;
    }
}

.arrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 45px;
  width: 60px;
  margin: 10px;
}
