
.room-title {
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
  background-color: white;
}

hr {
  opacity: 0.7!important;
  width: 30%;
  margin: auto;

}

.wrapper-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
 /*  grid-auto-rows: minmax(100px, auto); */
}

.wrapper-index img {
 /*  border-style: none!important;
  border-width: 0!important; */
 /*  padding: 5px; */

  object-fit: cover;
 }

.container-index {
  margin: 100px;
}

.card-index {
  /* display: flex;
  flex-direction: column; */
  min-width: 0;
  text-decoration: none;
  background-color: white;
  padding: 10px;

  h1{
    font-size: 30px;
  }
}

.card-index a {
  text-decoration: none;
  float: right;
  right: 10px;
  width: 150px;
  background-color: $purple;
  margin: -4px;
  line-height: 40px;
}

.card-index-text {
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 90px;
}

.flex-price-link {
  display: flex;
  justify-content: space-between;
  height: 45px;
  vertical-align: bottom;
}

.button-index {
  vertical-align: bottom;
}

.flex-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
