// Import page-specific CSS files here.
@import "home";
@import "show";
@import "doodle";

.wrapper-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  gap: 20px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
 /*  grid-auto-rows: minmax(100px, auto); */
}

.wrapper-index img {
 /*  border-style: none!important;
  border-width: 0!important; */
 /*  padding: 5px; */
  
  object-fit: cover;
 }

.container-index {

  margin: 100px;
}

.card-index {
  /* display: flex;
  flex-direction: column; */
  min-width: 0;
  text-decoration: none;
  background-color: white;
  height: 700px;
  position: relative;
  padding: 10px;

  h1{
    font-size: 30px;
  }
}

.card-index a {
  text-decoration: none;
  color: black;
  float: right;
  right: 10px;
  width: 150px;
  background-color: $purple;
  margin: -4px;
  line-height: 40px;
}

.card-index-text {
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 150px;
}

.flex-price-link {
  display: flex;
  justify-content: space-between;
  height: 80px;
  vertical-align: bottom;
}

.button-index {
  vertical-align: bottom;
}

.flex-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
