.img-secret {
 /*  height: 30rem;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  object-fit: cover;
  width: 400px; */
  width: 40%;
  max-width: 100%;
}

.card-secret-text {
  width: 55%;
}

.flex-secret {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 30px auto;
}

.button-secret {
  display: block;
  width: 150px;
}

.button-secret a {
  text-decoration: none;
  width: 140px;
  background-color: $purple;
  margin: -4px;
  display: block;
}

.front-sac {
  width: 32.4%;
  position: absolute;
  top: 216px;
  max-width: 100%;
}

.identite {
   img {
    width: 138px;
    position: absolute;
    top: 27em;
    object-fit: contain;
    left: 14em;
    }
}

@keyframes jumpAndRotate {
  0% {
    transform: translate(0, -50%) rotate(0deg);
  }
  50% {
    transform: translate(0, -200%) rotate(180deg) scale(1.5);
  }
  100% {
    transform: translate(0, -100%) rotate(360deg) scale(2);
  }
}

.jump {
  img {
    animation: jumpAndRotate 1s;
    transform: translate(0, -100%), scale(2);
    animation-fill-mode: forwards;
  /*   animation-iteration-count: 1; */

  }
}

.pointer {
  position: absolute;
  height: 100px;
  width: 146px;
  top: 440px;
  left: 214px;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  color: gray!important;
  background-color: $light-gray!important;
}
