.flex {
  display: flex;
 /*  background-color: white; */
  img {
    height: 30rem;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 5px;
    margin-bottom: 25px;
  }

  .item-infos {
    margin-left: 20px;
    margin-top: 25px;
  }
}

.button-show a {
  text-decoration: none;
  width: 140px;
  background-color: $purple;
  margin: -4px;
  display: block;
}

.button-show {
  width: 150px;
}

.container-show {
  margin: 30px 200px;
}

#hiden-button {
  position: absolute;
  bottom: 125px;
  left: 1000px
}

.flip-card {
  border: none;
  position: absolute;
  right: 95px;
  bottom: 227px;
  height: 220px;
  width: 327px;
  perspective: 1000px;
}

.front, .back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
}

.front {
  background-color: #fffde2;
}

.back {
  border: none !important;
}

.flip-card.flipped .front {
  transform: rotateY(180deg);
}

// .flip-card.flipped .back {
//   transform: rotateY(180deg);
// }
