.flex {
  display: flex;
 /*  background-color: white; */
  img {
    width: 50%;
    height: auto;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 5px;
    margin-bottom: 25px;
  }

  .item-infos {
    margin-left: 20px;
    margin-top: 25px;
  }

  .sticky {
    position: sticky;
    top: 15px;
  }
}

.button-show a {
  text-decoration: none;
  width: 140px;
  background-color: $purple;
  margin: -4px;
  display: block;
}

.button-show {
  width: 150px;
}
