<div class="progression-bar">
  <div class="container">
    <div class="progress-container doodle-border">
      <div class="progress-bar" style="width: <%= rand(0..100)%>%">
      </div>
    </div>
  </div>
</div>
