
<body class="doodle">
  <div class="card-index">
    <h1>Hello components</h1>
  </div>

  <div class="doodle-border-red doodle-button">
   <%= link_to "test bouton rouge", class: "doodle-red", color:"red"%>
  </div>
</body>
