<div class= "doodle container-home">

  <div class= "doodle home-wrapper">

    <div class= "doodle-border card-home">
      <h1>Jardin, terrasse et balcon</h1>
      <%#= link_to ..., class: 'btn' do %>
          <i class="fa-solid fa-arrow-right"></i>
        <%# end %>
    </div>

    <div class= "doodle-border card-home">
      <h1>Salon</h1>
      <%#= link_to ..., class: 'btn' do %>
          <i class="fa-solid fa-arrow-right"></i>
        <%# end %>
    </div>

    <div class= "doodle-border card-home">
      <h1>Salle à manger</h1>
      <%#= link_to ..., class: 'btn' do %>
          <i class="fa-solid fa-arrow-right"></i>
        <%# end %>
    </div>

    <div class= "doodle-border card-home">
      <h1>Cuisine</h1>
      <%#= link_to ..., class: 'btn' do %>
          <i class="fa-solid fa-arrow-right"></i>
        <%# end %>
    </div>

    <div class= "doodle-border card-home">
      <h1>Chambre</h1>
      <%#= link_to ..., class: 'btn' do %>
          <i class="fa-solid fa-arrow-right"></i>
        <%# end %>
    </div>

    <div class= "doodle-border card-home">
      <h1>Salle de bain</h1>
      <%#= link_to ..., class: 'btn' do %>
          <i class="fa-solid fa-arrow-right"></i>
        <%# end %>
    </div>

    <div class= "doodle-border card-home">
      <h1>Chambre enfant</h1>
      <%#= link_to ..., class: 'btn' do %>
          <i class="fa-solid fa-arrow-right"></i>
        <%# end %>
    </div>

    <div class= "doodle-border card-home">
      <h1>Bureau</h1>
      <%#= link_to ..., class: 'btn' do %>
          <i class="fa-solid fa-arrow-right"></i>
        <%# end %>
    </div>

    <div class= "doodle-border card-home">
      <h1>Entrée</h1>
      <%#= link_to ..., class: 'btn' do %>
          <i class="fa-solid fa-arrow-right"></i>
        <%# end %>
    </div>

  </div>

</div>
