<div data-controller="door" class="flex-door align-items-center justify-content-center backstart" >

  <div class="zoom" data-door-target="zoom" class="doorall">
    <div class="underdoor"><%= image_tag "porte-arrière.png" %></div>
    <div class=" door perspectiveLeft heartbeat door-front" data-door-target="door"><%= image_tag "porte-avant.png" %>

   <button onclick="openDoor()" data-action="click->door#open" class="buttondoor doodle-button">Entrer</button>
     <%#  <div class="door-back"></div> %>
    </div>
  </div>

</div>
