<div class="flex">
    <div class="item-infos">
      <h1 style="font-weight: bold"><%= @item.name %></h1>
      <p><%= @item.description %></p>
      <h3 style="font-weight: bold"><%= @item.price %>€</h3>
      <button>Ajouter au panier</button>
    </div>
</div>
