.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  font-family: inherit;
  font-size: 0.8em;
  font-size: 1em;
  background-color: $yellow!important;
  color: #3c3c3c;
  background-color: unset;
  font-family: 'Short Stack', cursive;
  font-size: 1em;
  color: #3c3c3c;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-image: asset-url('button.svg') 10 10 10 10 stretch stretch;
  text-align: center;
  padding: -2px!important;
}
