.custom-cursor {
  cursor: url(key.svg), pointer !important;
  a {
    cursor: url(key.svg), pointer !important;
  }
  button {
    cursor: url(key.svg), pointer !important;
  }
  input {
    cursor: url(key.svg), pointer !important;
  }
}
