.sticky-navbar {
  position: sticky;
  top: 0;
}

.navi-container {
  height: 120px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 10px;
  width: 100%;
}
.navi-container img {
  height: 90px;
  width: auto;
  object-fit: cover;
}

.navi-menu-bars {
  font-size: 20px;
}

.navi-menu {
  text-align: center;
  margin-right: 20px;
  position: absolute;
  height: 100%;
}

#navi-search {
  background-color: lightgray;
  border: 0;
  width: 505px;
  height: 40px;
  margin: -6px;
  font-family: 'Schoolbell', cursive;
  font-size: 20px;
}

.nav-left {
  display: flex;
  align-items: center;
    p {
      font-family: 'Schoolbell', cursive;
      font-size: 20px;
    }
}

.nav-right {
  display: flex;
}

.nav-center {
  display: flex;
}

#panier {
  width: 30px;
  height: 30px;
  margin: 5px;
  margin-right: 25px;
}

#heart {
  width: 30px;
  height: 30px;
  margin: 5px;
}

#profile {
  width: 30px;
  height: 30px;
  margin: 5px;
}

#loupe {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.move-loupe {
  animation: jump-shaking 0.83s infinite;
  z-index: 9999;
}

.jump-loupe {
  animation: jump-animation 1.5s infinite ease;
}

.loupe-index {
  z-index: 9999;
}

#menu {
  width: 30px;
  height: 30px;
}

.nav-link {
  font-family: 'Schoolbell', cursive;
  margin: 5px;
  margin-right: 35px;
}

.search-bar {
  opacity: 0.5;
}

.dropdown {
  margin-top: 5px;
}

.dropdown-menu-left {
  margin-top: 16px;
  margin-left: 20px;
}

.dropdown-menu {
  background-color: white!important;
}

.div-panier {
  position: relative;
  #notif {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 22px;
    top: -3px;
  }
  #number-notif {
    position: absolute;
    right: 23px;
    top: -2px;
    color: white;
    font-family: 'Schoolbell', cursive;
    font-size: 14px;
  }
}

.credit-card-flip {
  .credit-card-back {
    transform: rotateY(0deg);
  }
  .credit-card-front {
    transform: rotateY(180deg);
  }
}

.credit-card-return {
  position: relative;
  transform-style: preserve-3d;
  width: 250px;
  height: 100px;
}

.credit-card-front {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}

.credit-card-back {
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transform-origin: center;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 1s ease;
}

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}

@keyframes jump-animation {
  0% { transform: scale(1,1) translate(0); }
  10% { transform: scale(1.1, .9) translate(0px); }
  30% { transform: scale(.9,1.1) translateY(-10px); }
  50% { transform: scale(1.05,.95) translateY(0); }
  57% {transform: scale(1,1) translateY(-1px);}
  64% { transform: scale(1,1) translateY(0); }
  100% { transform: scale(1,1) translateY(0); }
}
