.navi-container {
  height: 60px;
  background-color: white;
}

.navi-content {
  display: flex;
  padding-top: 5px;
  padding-left: 10px;
  height: 50px;
}

.navi-content img {
  max-height: 100%;
}

.navi-menu-bars {
  font-size: 20px;
}

.navi-menu {
  display: block;
  text-align: center;
  margin-right: 20px;
}

.navi-search {
  border-radius: 20px;
  background-color: lightgray;
  border: 0;
  width: 500px;
  height: 30px;
}
