.navi-container {
  height: 120px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 10px;
  width: 100%;
}
.navi-container img {
  height: 90px;
  width: auto;
  object-fit: cover;
}

.navi-menu-bars {
  font-size: 20px;
}

.navi-menu {
  text-align: center;
  margin-right: 20px;
  position: absolute;
  height: 100%;
}

#navi-search {
  background-color: lightgray;
  border: 0;
  width: 505px;
  height: 40px;
  margin: -6px;
  font-family: 'Schoolbell', cursive;
  font-size: 20px;
}

.nav-left {
  display: flex;
  align-items: center;
    p {
      font-family: 'Schoolbell', cursive;
      font-size: 20px;
    }
}

.nav-right {
  display: flex;
}

.nav-center {
  display: flex;
}

#panier {
  width: 30px;
  height: 30px;
  margin: 5px;
  margin-right: 25px;
}

#heart {
  width: 30px;
  height: 30px;
  margin: 5px;
}

#profile {
  width: 30px;
  height: 30px;
  margin: 5px;
}

#loupe {
  width: 40px;
  height: 40px;
}

#menu {
  width: 30px;
  height: 30px;
}

.nav-link {
  font-family: 'Schoolbell', cursive;
  margin: 5px;
  margin-right: 35px;
}

.search-bar {
  opacity: 0.5;
}

.dropdown {
  margin-top: 5px;
}

.dropdown-menu-left {
  margin-top: 16px;
  margin-left: 20px;
}

.div-panier {
  position: relative;
  #notif {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 22px;
    top: -3px;
  }
  #number-notif {
    position: absolute;
    right: 23px;
    top: -2px;
    color: white;
    font-family: 'Schoolbell', cursive;
    font-size: 14px;
  }
}
